@use "../../scss/" as *;

.slide-home{
  &:hover{
    .swiper-button-next,.swiper-button-prev{
      opacity: 1 !important;
      width: 55px !important;
      height: 55px !important;
    }
  }
}
.slide-item__content_banner{
    flex: 1;
    @include flex(center, center);
    position: relative;
    padding: 0 10px;
  

    img {
        width: 100%;
      border-radius: $border-radius-slide;
      box-shadow: $box-shadow;

    //   transform: scale(0);
    //   transition: transform 0.7s ease;
    }
   
}