@use "../../scss/" as *;

.time.left {
  text-align: right;
  margin-right: 10px;
  opacity: 0.5;
  min-width: 45px;
  font-size: 12px;
  font-weight: 500;
  color: $txt-color;
}
.time.right {
  margin-left: 10px;
  min-width: 45px;
  font-size: 12px;
  font-weight: 500;
  color: $txt-color;
}
.is-mobile {
  display: none;
  @include mobile {
    display: flex;
  }
}
.non-mobile {
  @include mobile {
    display: none;
  }
}
