@use "../../scss/" as *;
.action {
  &.center{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
    display: -moz-flex;
    display: flex;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    visibility: hidden;
    width: 80%;
  }

  &__icon {
    border-radius: 999px;
    line-height: normal;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    &.no-bg:hover {
 
      background-color: unset;
      filter: brightness(0.9);
      i{
        color: $main-color;
      }
    }
    &.no-bg-hover:hover{
      background-color: unset;
      filter: brightness(0.9);
      // i{
      //   color: $main-color;
      // }
    }
    &:hover {
      background-color: $hover-tooltip-opacity;
    }
    &.show-bg-square{
      background-color: hsla(0,0%,100%,.1);
      border-radius: 5px;
      .active{
        background-color: $main-color;
      }
      &:hover{
        background-color: $hover-tooltip-opacity;
      }
    }
  }

  .card-small-icon {
    width: 30px;
    height: 30px;
    @include flex(center, center);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;

    @include mobile {
      display: none;
    }
    line-height: 0;
  }
  .card-tablet-icon {
    width: 30px;
    height: 30px;
    @include flex(center, center);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    @include tablet {
      display: none;
    }
    line-height: 0;
  }
  .card-icon {
    width: 30px;
    height: 30px;
    @include flex(center, center);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    line-height: 0;
  }
}
