$body-bg: #37075d;
$main-color: #fe63da;
$txt-color: #fff;
$white:#fff;
$black:#32323d;
$txt-color-secondary:hsla(0, 0%, 100%, 0.5);
$box-shadow: rbga(100, 100, 111, 0.2) 0px 7px 29px 0px;
$hover-tooltip-opacity:hsla(0,0%,100%,0.3);
$header-height: 5rem;
$header-shrink-height: 5rem;
$boder-radius: 30px;
$border-radius-slide:10px;
$border-radius-slide-radio:999px;
$dark-alpha:rgba(0, 0, 0, 0.5);
$border-player: hsla(0,0%,100%,0.1);
$mobile-width: 700px;
$tablet-width: 1024px;
$alpha-bg:hsla(0,0%,100%,0.1);
$navigation-text:#dadada;
$tab-active-bg:hsla(0,0%,100%,0.3);
$border-secondary:hsla(0,0%,100%,0.05);

$font-family: "Inter", sans-serif;
